html, body{
	font-family:Tahoma, Geneva, sans-serif;
	margin: 0;

}

header{
	background-color:;
	background-image:url('https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Chun-Li-Background-Full-HD-PIC-WPC006340.jpg');
	background-size: 95%;
	background-repeat:repeat-x;
	padding: 40px;
	text-align:center;
}

h1{
	font-size: 90px;
	color: white;

}

h2{
	color: #FFCC00;
}

p{
	color: white;
}

ol{
	color: white;
}
header img{
	border-radius: 150px;
	width: 300px;
	border: 20px double #FFCC00;
	
}

.content{
	max-width: 900px;
	margin: 0 auto;
	background-color: #003;
	border:20px double #FFCC00;
	padding: 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size:16px;
	color: white;
	font-style:italic;

}

ul{
	list-style: none;
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color:#003;
	color: white;
}

footer ul{
	text-align: center;
}

footer ui li{
	display:inline-block;
	margin: 0 5px;
	
}
body{
background-color:#003;
background-image:
radial-gradient(midnightblue 9px, transparent 10px),
repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
background-size: 30px 30px, 90px 90px;
background-position: 0 0;
}